body{
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: center;
  height: 100vh;
  row-gap: 5px;
}
.options-container{
  display: flex;
  column-gap: 4px;
  
  
}
.option{
  background-color: white;
  padding: 100px;
  border-radius: 10%;
  min-width: none;
  border: none;
  font-size: 19px;
  font-weight: 800;

}
.option:hover{
  cursor: pointer;
  background-color: darkgray;
}
.winner-text{
  color: black;
  font-size: 30px;
  margin-left: -12px;
  padding: 50px 270px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  font-family: arial;
  font-weight: 800;
}
.option-computer{
  color:black;
  margin-left: -12px;
  background-color: white;
  padding: 10px 130px;
  margin-top: 20px;
  font-weight: 800;
  font-family: arial;
  font-size: 15px;
  border-radius: 20px;
}